:root {
    --darkblue: #01013d;
    --orange: #FF6B35;
    --beige: #EFEFD0;
    --purple: #634aa6;
    --darkestblue: #020617;
    --lightblue: #64748b;
    --white: #f1f5f9;
}

body {
    margin: 0;
    background-color: #fff;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../src/images/background.jpg");
}

.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh 90vh;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    align-self: center;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    color: var(--white);
    height: 100%;
}

.project-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    justify-self: center;
    padding-left: 10px;
}

.task-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    justify-self: center;
}

.project-container {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: minmax(300px, 1fr);
}

.project-item {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(91, 71, 168, 0.3);
    display: grid;
    grid-template-columns: 1fr 25px;
    font-size: 1.5rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.delete-project-button {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    justify-self: end;
    align-self: start;
}

.project-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.current-project {
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 5px solid #333;
}

.add-project-form-container {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
}

.add-project-form {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 10px;
    grid-template-rows: 1fr;
}

.project-name-input {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    padding-left: 10px;
}

.task-container {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    padding: 20px;
    display: grid;
    /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-rows: repeat(auto-fill, minmax(100px, 200px));
    grid-template-columns: minmax(850px, 1fr);
}

.task-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.task-item {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 2fr 1fr .5fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.5rem;
}

.task-item > div {
    align-self: center;
    justify-self: start;
    padding-left: 20px;
}

.fa-calendar {
    padding-right: 10px;
}

.task-due-date.overdue{
    color: red;
}

.task-due-date.due{
    color: green;
}

.task-due-date.today {
    color: orange;
}

.delete-task-button.fa-regular.fa-trash-can {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    justify-self: end;
    align-self: start;
}

.add-task-form {
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 2fr 1fr .5fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.task-name-input {
    width: 35%;
}

.task-due-date-input {
    width: 45%;
}

/* .task-description-input {
    
} */

.task-priority-input {
    width: 30%;
    
}

.submit-task-button {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    width: 45%;
    justify-self: end;
    align-self: end;
}

input[type=text] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

input[type=date] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

select {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    background-color: #fff;
}

button {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
    padding:10px;
    border:none;
    background-color: rgba(52, 74, 237, 1);
    color: white;
    font-weight:600;
    border-radius:5px;
    width:100%;
}

button:hover {
    cursor: pointer;
    background-color: var(--darkestblue);
}