body {
    background-color: #fff;
    color: #333;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}